<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nith.rajeev.shareride">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ShareRide"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.nith.rajeev.shareride.SignInActivity"
            android:theme="@style/SignInTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nith.rajeev.shareride.PostDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.nith.rajeev.shareride.MainActivity" />
        <activity android:name="com.nith.rajeev.shareride.NewPostActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.nith.rajeev.shareride.AppInfo" />
        <activity android:name="com.nith.rajeev.shareride.BasicActivity"/>
    </application>

</manifest>